# Importing libraries and creating path

In [1]:
#import libraries, create pathname
import pandas as pd
import numpy as np
import os
path=r'/Users/evancarr/Desktop/CF Exercises/Instacart Basket Analysis'

## Importing ords_prods_merge DF

In [2]:
ords_prods_merge=pd.read_pickle(os.path.join(path, '02 Data','Prepared Data','4.8 Exercise.pkl'))

In [3]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,volume_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5.0,0.0,both,Mid-range product,Regularly busy,Average orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1.0,1.0,both,Mid-range product,Regularly busy,Most orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20.0,0.0,both,Mid-range product,Busiest days,Most orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10.0,0.0,both,Mid-range product,Slowest days,Average orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11.0,1.0,both,Mid-range product,Slowest days,Most orders,3,New customer

## Question 2
### Finding agregated mean for entire ords_prods_merge DF

In [4]:
ords_prods_merge.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457687
2                17.277920
3                17.179756
4                17.811403
5                15.215751
6                16.439806
7                17.225773
8                15.340520
9                15.895474
10               20.197148
11               16.170371
12               15.887622
13               16.583304
14               16.759763
15               16.165037
16               17.663250
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## Question 3:
### The mean of the entire ords_prods_merge dataframe are just slightly lower than the sample dataframe in the reading from exercise 4.8

## Question 4:
### loyalty flag column was created in the exercise

In [5]:
ords_prods_merge.loc[ords_prods_merge['max_order']>40, 'loyalty_flag']='Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order']<=40) & (ords_prods_merge['max_order']>10), 'loyalty_flag']= 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order']<= 10, 'loyalty_flag']= 'New customer'

## Question 5:
### I use the groupby and agg functions to determine basic statistics

In [6]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['min','mean','max']})

                 prices
                    min       mean      max
loyalty_flag
Loyal customer      1.0  10.388854  99999.0
New customer        1.0  13.294634  99999.0
Regular customer    1.0  12.496419  99999.0

## Question 6:
### Creating a new 'mean_product_price' column to use for the creation of 'spending_flag'

In [7]:
ords_prods_merge['mean_product_price']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/z7/kqs18yh15zq9sxssld03yyvh0000gn/T/ipykernel_1470/2159208955.py:1: FutureWarning: The provided callable <function mean at 0x110a2efc0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['mean_product_price']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [8]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,volume_days,busiest_period_of_day,max_order,loyalty_flag,mean_product_price
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5.0,0.0,both,Mid-range product,Regularly busy,Average orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1.0,1.0,both,Mid-range product,Regularly busy,Most orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20.0,0.0,both,Mid-range product,Busiest days,Most orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10.0,0.0,both,Mid-range product,Slowest days,Average orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11.0,1.0,both,Mid-range product,Slowest days,Most orders,3,New customer,4.972414

#### Creating 'spending_flag'
#### average price of product purchased is < 10 = 'Low spender'
#### average price of product purchased is >= 10 = 'High spender'

In [9]:
ords_prods_merge.loc[ords_prods_merge['mean_product_price']< 10, 'spending_flag']='Low spender'
ords_prods_merge.loc[ords_prods_merge['mean_product_price']>= 10, 'spending_flag']= 'High spender'

In [10]:
#checking counts of spender type
ords_prods_merge['spending_flag'].value_counts()

spending_flag
Low spender     31797576
High spender      635454
Name: count, dtype: int64

## Question 7:
### Creating 'median_day_between_ords' column to use as customer frequency flag

In [11]:
ords_prods_merge['median_day_between_ords']=ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

/var/folders/z7/kqs18yh15zq9sxssld03yyvh0000gn/T/ipykernel_1470/230368911.py:1: FutureWarning: The provided callable <function median at 0x110f25300> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_day_between_ords']=ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [12]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,reordered,_merge,price_range_loc,volume_days,busiest_period_of_day,max_order,loyalty_flag,mean_product_price,spending_flag,median_day_between_ords
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,0.0,both,Mid-range product,Regularly busy,Average orders,32,Regular customer,6.935811,Low spender,8.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1.0,both,Mid-range product,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,8.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,0.0,both,Mid-range product,Busiest days,Most orders,5,New customer,7.930208,Low spender,8.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,0.0,both,Mid-range product,Slowest days,Average orders,3,New customer,4.972414,Low spender,9.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,1.0,both,Mid-range product,Slowest days,Most orders,3,New customer,4.972414,Low spender,9.0

### Defining parameters for 'customer_freq_flag'
#### median of days since prior order >20 = 'Non-frequent customer'
#### median of days since prior order > 10 & <= 20 = 'Regular customer
#### median of days since prior order <= 10 = 'Frequent customer'

In [13]:
ords_prods_merge.loc[ords_prods_merge['median_day_between_ords']>20, 'customer_freq_flag']='Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_day_between_ords']>10) & (ords_prods_merge['median_day_between_ords']<=20), 'customer_freq_flag']= 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_day_between_ords']<= 10, 'customer_freq_flag']= 'Frequent customer'

In [14]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,_merge,price_range_loc,volume_days,busiest_period_of_day,max_order,loyalty_flag,mean_product_price,spending_flag,median_day_between_ords,customer_freq_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,both,Mid-range product,Regularly busy,Average orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,both,Mid-range product,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,both,Mid-range product,Busiest days,Most orders,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,both,Mid-range product,Slowest days,Average orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,both,Mid-range product,Slowest days,Most orders,3,New customer,4.972414,Low spender,9.0,Frequent customer

In [15]:
ords_prods_merge['customer_freq_flag'].value_counts()

customer_freq_flag
Frequent customer        21576963
Regular customer          7216644
Non-frequent customer     3639423
Name: count, dtype: int64

In [16]:
ords_prods_merge['customer_freq_flag'].value_counts(dropna=False)

customer_freq_flag
Frequent customer        21576963
Regular customer          7216644
Non-frequent customer     3639423
Name: count, dtype: int64

In [17]:
ords_prods_merge.shape

(32433030, 23)

# Exporting Dataframe as pickle file 'ETC_4.8_GroupingAggregating.pkl'

In [18]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data','ETC 4.8 GroupingAggregating.pkl'))